@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

* {
  font-family: Montserrat-Regular, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background: #f0f5fb;
  position: relative;
  box-sizing: border-box;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
}
.header__links {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  z-index: 1;
}
.header__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header__logo {
  justify-self: center;
  margin-bottom: -13px;
}
.header__info {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.header__time {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header__phone {
  width: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.header__phone-img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%);
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  transition: 2s;
}
.header__phone-img svg {
  fill: white;
}
.header__phone-img:hover svg {
  fill: yellow;
}
.header__phone-img:hover {
  background: green;
}
.header__phone-number {
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.main__title {
  margin: 118px 0 18px;
  position: relative;
  z-index: 3;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
}
.main__subtitle {
  position: relative;
  z-index: 3;
  max-width: 621px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.main__container {
  padding-bottom: 508px;
  position: relative;
}
.main__img {
  position: absolute;
  width: 100%;
  margin-right: 30px;
  left: 0px;
  bottom: 178px;
  padding-right: 30px;
}
.main__img img {
  width: 100%;
  position: relative;
  right: 30px;
}
.main__tomato {
  position: absolute;
  top: 136px;
  width: 130px;
  left: 0;
  z-index: 1;
}
.main__pumpkin {
  position: absolute;
  top: -45px;
  left: 0;
  opacity: 0.1;
  z-index: 1;
}
.main__main-img {
  position: absolute;
  top: 50px;
  right: 25px;
  opacity: 0.1;
  z-index: 1;
}
.main__cucurumber {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
}
.main__mini-pizza {
  position: absolute;
  opacity: 0.1;
  bottom: 130px;
  z-index: 1;
  right: 20px;
}
.main__mushrooms {
  position: absolute;
  bottom: 210px;
  left: 0;
  z-index: 1;
  z-index: 1;
}
.main__fungus {
  position: absolute;
  bottom: 162px;
  left: 30px;
  z-index: 1;
  opacity: 0.1;
}
.main__left-pepper {
  position: absolute;
  left: 160px;
  bottom: 220px;
  z-index: 1;
}
.main__right-pepper1 {
  position: absolute;
  bottom: 269px;
  right: 70px;
  z-index: 1;
}
.main__right-pepper2 {
  position: absolute;
  bottom: 183px;
  z-index: 1;
  right: 70px;
}
.main__right-pepper3 {
  bottom: 178px;
  right: 140px;
  position: absolute;
  z-index: 1;
}
.main__big-pizza {
  position: absolute;
  top: 103px;
  left: calc(50% - 426px);
  z-index: 1;
}
.main__big-pizza img {
  width: 100%;
}
.main__floor {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: screen;
}
.form-block {
  background: #f0f5fb;
  /* background-image: url(../images/bg-form.png); */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.form-block__container {
  padding: 82px 0 282px;
  position: relative;
  text-align: center;
}
.form-block__title {
  font-family: Montserrat-Bold, sans-serif;
  max-width: 505px;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000000;
}
.form {
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.form__item {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  border-radius: 57px;
}
.form__input {
  padding: 20px 30px;
  border: 2px solid #eceef7;
  outline: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #222222;
}
::placeholder {
  font-family: Montserrat-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #222222;
}
.form__button {
  padding: 20px 30px;
  background: linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  border-radius: 59px;
  border: 0;
  outline: 0;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.form__button img {
  margin-left: 30px;
}
.form__button:hover {
  background: blue;
  cursor: pointer;
  transition: 0.5s;
}
.form-block__car {
  position: absolute;
  height: auto;
  width: auto;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-block__car img {
  width: 100%;
}
.footer__container {
  padding: 33px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__rights {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.footer__logo {
  width: 95px;
  margin-bottom: 10px;
}
.footer__made-by {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.footer__name {
  font-family: Montserrat-Bold, sans-serif;
}
.form-block__img1 {
  position: absolute;
  bottom: 52px;
  left: 0;
}
.form-block__img2 {
  bottom: 17px;
  right: 117px;
  position: absolute;
  z-index: 0;
}
.form-block__img3 {
  position: absolute;
  bottom: 207px;
  right: 63px;
  z-index: 0;
}
.content {
  position: relative;
  padding-bottom: 103px;
}
.content__container {
  padding-top: 140px;
}
.content__title {
  margin-bottom: 50px;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
}
.content__buttons {
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.content__btn {
  width: 145px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #eceef6, #eceef6), #59aaf1;
  border-radius: 45px;
  border: 0;
  outline: 0;
  padding: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.content__btn_small {
  width: 135px;
}
.content__btn_active,
.content__btn:hover {
  transition: 0.3s;
  color: #ffffff;
  cursor: pointer;
  background: #59aaf1;
}
.pizza__item {
  position: relative;
  /* background: url(../images/pizza-line.svg); */
  /* background-size: cover; */
  background-size: 100% 100%;
  background-position: center;
  width: 263px;
  border: 2px solid #eceef7;
  border-radius: 15px;
  padding-bottom: 8px;
  text-align: center;
}
.pizza__item::after {
  content: "";
  bottom: -48px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-width: 0 2px 2px 0;
  border-radius: 0 0 15px 0;
  border-style: solid;
  border-color: #eceef6;
  position: absolute;
  background: white;
  width: 45px;
  height: 45px;
}
.pizza__line {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.pizza__item:hover {
  top: 3px;
}
.pizza__img {
  margin-left: 40px;
  width: 210px;
  height: 213px;
  margin-top: 30px;
}
.pizza__info {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pizza__title {
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  max-width: 181px;
}
.pizza__diametr {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #000000;
}
.pizza__description {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  text-align: left;
  margin-top: 8px;
  color: #000000;
}
.pizza__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  margin-top: 19px;
  color: #121146;
  padding-bottom: 70px;
}
.pizza__hit {
  position: absolute;
  top: 24px;
  left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  width: 60px;
  height: 25px;
  box-sizing: border-box;
  background: linear-gradient(116.88deg, #fe3326 -4.28%, #f26e0e 112.69%),
    #59aaf1;
  box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  border-radius: 3px;
}
.pizza__buy {
  width: 33px;
  z-index: 1;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  position: relative; */
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 33px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #eceef6;
}
.pizza__buy::before {
  content: url(../images/pizza__buy.svg);
  position: absolute;
  top: 5px;
  left: 9px;
}
.pizza__buy:hover {
  background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%),
    linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1;
  box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  cursor: pointer;
}
.pizza__buy:hover::before {
  content: url(../images/pizza__buy_hover.svg);
}
.pizza__container {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  justify-content: center;
  align-items: baseline;
}
.reload {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px auto 0px;
  background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%);
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  transition: 0.5s;
}
.reload:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.5s;
}
.swiper {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 127px;
}
.swiper__img {
  background: linear-gradient(
    0deg,
    rgba(37, 77, 124, 0.4),
    rgba(37, 77, 124, 0.4)
  );
  margin: 0 20px;
}
.swiper__img:first-child {
  margin-left: 0;
}
.swiper__img:last-child {
  margin-right: 0;
}
.swiper__popup {
  position: absolute;
  width: 480px;
  height: 180px;
  box-sizing: border-box;
  background: linear-gradient(45.04deg, #fd9924 -51.05%, #f65b16 134.89%);
  box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2),
    0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
  border-radius: 15px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper__popup-container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  /* line-height: 144px; */
  color: #ffffff;
}
.swiper__link {
  text-decoration: none;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
.content__img1 {
  position: absolute;
  bottom: 0;
  opacity: 0.1;
  left: 0;
}
.content__img2 {
  position: absolute;
  top: 169px;
  left: 0;
}
.content__img3 {
  position: absolute;
  right: 0;
  top: 385px;
  opacity: 0.1;
}
#burger {
  display: none;
}
#scene-wrapper {
  overflow-y: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
}
#scene::-webkit-scrollbar {
  width: 0;
}
#scene {
  overflow-x: hidden;
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
}
.main__container {
  overflow: hidden;
}
.main__big-pizza {
  padding-top: 300px;
  padding-left: 150px;
}
#scene2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}
.scene2-bg {
  width: 101%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
